In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\kp6948\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\kp6948\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import numpy as np

In [4]:
df =pd.read_csv("C:\\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompletaEcommerceRW.csv",encoding='latin-1')

C:\Users\kp6948\AppData\Local\Temp\ipykernel_12084\610642209.py:1: DtypeWarning: Columns (7,8,9,10,11,14,21,22,23,31,32,33,56,60,66,67,68,70,71) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("C:\\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompletaEcommerceRW.csv",encoding='latin-1')

In [5]:

new_equipo = df['equipo'].str.split(pat=r" " ,expand=True  ,n=-1 ,regex=True ).fillna("")

new_equipo['concat'] = new_equipo[0] + "-" + new_equipo[1] + "-" + new_equipo[2] + "-" +new_equipo[3] + "-" +new_equipo[4]  

new_equipo['concat'].unique()
df['equipo'] = new_equipo['concat']

In [6]:
new_0 = df['mensajeRPA'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True  ,n=-1 ,regex=True ).fillna("")
new_0[1]





df['ordenmensajeRPA'] = new_0[1]

In [96]:
# new1 = df['crm'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True ,n=-1 ,regex=True ).fillna("")
# new1
# df["ordencrm"]= new1[0]

In [7]:
new2 = df['comentarios'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True  ,n=-1 ,regex=True ).fillna("")
# new2
df["ordencomentarios"]= new2[1]

In [8]:
df.head()

,Unnamed: 0,increment_id,fecha_de_pago,hora_de_pago,status,tipo,numero_renovar,f_rpa,f_renovacion,idc,...,kueski_id,referencia_evo,redes_sociales,apps_streaming,allow_esim,addons,store_pickup,store_address,ordenmensajeRPA,ordencomentarios
0,0,ECO000155839,01/01/2021,02:30:23,Completada,RenovaciÃÂ³n,5.565767e+09,NaN,NaN,NaN,...,NaN,eeda3cf9a73449e1,NaN,NaN,NaN,NaN,NaN,NaN,2416172382A,2416172382A
1,1,ECO000155842,01/01/2021,03:27:13,Completada,RenovaciÃÂ³n,5.565309e+09,NaN,NaN,NaN,...,NaN,124932bd64514c74,NaN,NaN,NaN,NaN,NaN,NaN,2416180083A,2416180083A
2,2,ECO000155848,01/01/2021,09:35:20,Completada,RenovaciÃÂ³n,2.228292e+09,NaN,NaN,NaN,...,NaN,bc72e6d75dee45e3,NaN,NaN,NaN,NaN,NaN,NaN,2416290401A,2416290401A
3,3,ECO000155866,01/01/2021,11:20:26,Completada,RenovaciÃÂ³n,5.536362e+09,NaN,NaN,NaN,...,NaN,1ea3e7af95e642a7,NaN,NaN,NaN,NaN,NaN,NaN,2416327892A,2416327892A
4,4,ECO000155878,01/01/2021,11:56:15,Completada,RenovaciÃÂ³n,7.222451e+09,NaN,NaN,NaN,...,NaN,48ebd6d828af4735,NaN,NaN,NaN,NaN,NaN,NaN,2416339285A,2416339285A

In [18]:
df_2 = df[['ordencomentarios','ordenmensajeRPA']]

df_2['Col4'] = df[['ordencomentarios','ordenmensajeRPA']].apply(lambda x: ''.join(x.dropna()), axis=1)

C:\Users\kp6948\AppData\Local\Temp\ipykernel_12084\1165192477.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Col4'] = df[['ordencomentarios','ordenmensajeRPA']].apply(lambda x: ''.join(x.dropna()), axis=1)

In [100]:
df_2

    ordencomentarios ordenmensajeRPA                    Col4
0
1        3118421192A     3118421192A  3118421192A3118421192A
2
3        3118523716A                             3118523716A
4
..               ...             ...                     ...
699
700
701
702
703

[704 rows x 3 columns]

In [19]:
df['ordenfinal'] = df_2['Col4'].str[-11:]
df['Origen'] = "Magento"
df['Fuente'] = "full_bd_unificado"
df['ComentarioDuplicadoECO'] = "No"
df['crm'] = "notfound"
df['ordencrm'] = "notfound"

In [20]:
df.reset_index(drop=True)

,Unnamed: 0,increment_id,fecha_de_pago,hora_de_pago,status,tipo,numero_renovar,f_rpa,f_renovacion,idc,...,addons,store_pickup,store_address,ordenmensajeRPA,ordencomentarios,ordenfinal,Origen,Fuente,ComentarioDuplicadoECO,ordencrm
0,0,ECO000155839,01/01/2021,02:30:23,Completada,RenovaciÃÂ³n,5.565767e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,2416172382A,2416172382A,2416172382A,Magento,full_bd_unificado,No,notfound
1,1,ECO000155842,01/01/2021,03:27:13,Completada,RenovaciÃÂ³n,5.565309e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,2416180083A,2416180083A,2416180083A,Magento,full_bd_unificado,No,notfound
2,2,ECO000155848,01/01/2021,09:35:20,Completada,RenovaciÃÂ³n,2.228292e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,2416290401A,2416290401A,2416290401A,Magento,full_bd_unificado,No,notfound
3,3,ECO000155866,01/01/2021,11:20:26,Completada,RenovaciÃÂ³n,5.536362e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,2416327892A,2416327892A,2416327892A,Magento,full_bd_unificado,No,notfound
4,4,ECO000155878,01/01/2021,11:56:15,Completada,RenovaciÃÂ³n,7.222451e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,2416339285A,2416339285A,2416339285A,Magento,full_bd_unificado,No,notfound
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128304,128304,ECO001200961,01/03/2023,13:34:39,Pagada,Pospago,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,Magento,full_bd_unificado,No,notfound
128305,128305,ECO001200967,01/03/2023,13:40:00,Pagada,RenovaciÃÂ³n,5.519507e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,Magento,full_bd_unificado,No,notfound
128306,128306,ECO001200523,01/03/2023,13:46:06,Pagada,RenovaciÃÂ³n,5.624795e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,Magento,full_bd_unificado,No,notfound
128307,128307,ECO001201012,01/03/2023,14:11:53,Pagada,RenovaciÃÂ³n,5.532980e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,Magento,full_bd_unificado,No,notfound
128308,128308,ECO001200913,01/03/2023,14:16:40,Pagada,RenovaciÃÂ³n,2.222934e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,,,,Magento,full_bd_unificado,No,notfound

In [22]:
a_index= ['increment_id',
 'fecha_de_pago',
 'status',
 'tipo',
 'guest',
 'region_factura',
 'oferta',
 'paquete',
 'mesesservicio',
 'sku',
 'equipo',
 'color',
 'precio_equipo',
 'precio_plan',
 'qty_ordered',
 'activacion',
 'total_pedido',
 'payment_method',
 'brand',
 'crm',
 'Origen',
 'Fuente',
 'ComentarioDuplicadoECO',
 'ordenmensajeRPA',
 'ordencrm',
 'ordencomentarios',
 'ordenfinal',
 'allow_esim']
df = df[a_index]

df.reindex(columns=[a_index])


df.to_csv(r'C:\\Users\\kp6948\Documents\\thist\\corridas\\TEST-equipo-sku-marca-color-1marzo.csv')

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   increment_id            704 non-null    object
 1   fecha_de_pago           704 non-null    object
 2   status                  704 non-null    object
 3   tipo                    704 non-null    object
 4   guest                   704 non-null    object
 5   region_factura          704 non-null    object
 6   oferta                  704 non-null    object
 7   paquete                 701 non-null    object
 8   mesesservicio           693 non-null    object
 9   sku                     5 non-null      object
 10  precio_equipo           3 non-null      object
 11  precio_plan             69 non-null     object
 12  qty_ordered             704 non-null    int64
 13  activacion              69 non-null     float64
 14  total_pedido            704 non-null    object
 15  payment_method          704 non-null    object
 16  brand                   655 non-null    object
 17  crm                     704 non-null    object
 18  Origen                  704 non-null    object
 19  Fuente                  704 non-null    object
 20  ComentarioDuplicadoECO  704 non-null    object
 21  ordenmensajeRPA         704 non-null    object
 22  ordencrm                704 non-null    object
 23  ordencomentarios        704 non-null    object
 24  ordenfinal              704 non-null    object
 25  allow_esim              36 non-null     object
dtypes: float64(1), int64(1), object(24)
memory usage: 143.1+ KB

In [105]:
df_subido_head = pd.read_csv('C:\\Users\\kp6948\\Downloads\\df_axyys prueba sincols2.csv')
list(df_subido_head.columns.values)

['increment_id',
 'fecha_de_pago',
 'status',
 'tipo',
 'guest',
 'region_factura',
 'oferta',
 'paquete',
 'mesesservicio',
 'sku',
 'precio_equipo',
 'precio_plan',
 'qty_ordered',
 'activacion',
 'total_pedido',
 'payment_method',
 'brand',
 'crm',
 'Origen',
 'Fuente',
 'ComentarioDuplicadoECO',
 'ordenmensajeRPA',
 'ordencrm',
 'ordencomentarios',
 'ordenfinal',
 'allow_esim']