In [3]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz>=2020.1 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\kp6948\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\kp6948\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: C:\Users\kp6948\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [7]:
##Importamos libs
import pandas as pd
import numpy as np
import glob
import os

In [26]:

df1 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2021EcommerceRaw.csv',encoding='latin-1')
df2 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2022EcommerceRaw.csv',encoding='latin-1')
df3 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2023EcommerceRaw.csv',encoding='latin-1')
all_files = [df1,df2,df3]
df_tier = pd.concat(all_files, ignore_index=True)

C:\Users\kp6948\AppData\Local\Temp\ipykernel_27520\2110018691.py:1: DtypeWarning: Columns (9,10,13,30,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2021EcommerceRaw.csv',encoding='latin-1')
C:\Users\kp6948\AppData\Local\Temp\ipykernel_27520\2110018691.py:2: DtypeWarning: Columns (8,20,21,22,31,32,55,59,67,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2022EcommerceRaw.csv',encoding='latin-1')
C:\Users\kp6948\AppData\Local\Temp\ipykernel_27520\2110018691.py:3: DtypeWarning: Columns (22,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompleta2023EcommerceRaw.csv',encoding='latin-1')

In [25]:
df_tier.to_csv(r'C:\Users\\kp6948\Documents\\Carpeta madre nd\\RAW DB\\BDCompletaEcommerceRW.csv')

In [22]:
df_tier.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128309 entries, 0 to 128308
Data columns (total 71 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   increment_id             128309 non-null  object
 1   fecha_de_pago            128309 non-null  object
 2   hora_de_pago             128309 non-null  object
 3   status                   128309 non-null  object
 4   tipo                     128309 non-null  object
 5   numero_renovar           93036 non-null   float64
 6   f_rpa                    59491 non-null   object
 7   f_renovacion             53664 non-null   object
 8   idc                      43980 non-null   object
 9   crm                      43980 non-null   object
 10  f_completada             43980 non-null   object
 11  guest                    128309 non-null  object
 12  customer_email           128309 non-null  object
 13  fecha_de_nacimiento      80223 non-null   object
 14  requiere_factura         128309 non-null  object
 15  billing_firstname        128308 non-null  object
 16  billing_lastname         128306 non-null  object
 17  billing_materno          128203 non-null  object
 18  billing_rfc              128250 non-null  object
 19  billing_telefono         128309 non-null  object
 20  billing_tipo_id          82404 non-null   object
 21  billing_numero_id        83061 non-null   object
 22  cp_factura               128309 non-null  object
 23  region_factura           128293 non-null  object
 24  delegacion_factura       128259 non-null  object
 25  colonia_factura          128230 non-null  object
 26  calle_factura            128257 non-null  object
 27  numero_exterior_factura  128200 non-null  object
 28  numero_interior_factura  34428 non-null   object
 29  referencias_factura      127829 non-null  object
 30  factura_email            62179 non-null   object
 31  factura_regimen          7189 non-null    object
 32  factura_cfdi             7189 non-null    object
 33  cp_entrega               128309 non-null  int64
 34  region_entrega           128309 non-null  object
 35  delegacion_entrega       128277 non-null  object
 36  colonia_entrega          128277 non-null  object
 37  calle_entrega            128306 non-null  object
 38  numero_exterior_entrega  128253 non-null  object
 39  numero_interior_entrega  31499 non-null   object
 40  referencias_entrega      127931 non-null  object
 41  oferta                   128309 non-null  object
 42  paquete                  99860 non-null   object
 43  mesesservicio            98639 non-null   object
 44  sku                      29756 non-null   object
 45  equipo                   29756 non-null   object
 46  color                    29756 non-null   object
 47  marca                    29733 non-null   object
 48  precio_equipo            28427 non-null   object
 49  precio_plan              6845 non-null    float64
 50  precio_addons            0 non-null       float64
 51  qty_ordered              128309 non-null  int64
 52  activacion               6845 non-null    float64
 53  subtotal                 128309 non-null  object
 54  total_pedido             128309 non-null  object
 55  pago_mensual             1243 non-null    object
 56  payment_method           128309 non-null  object
 57  funding_method           90338 non-null   object
 58  brand                    110915 non-null  object
 59  authorization_code       110915 non-null  object
 60  card_number              110915 non-null  object
 61  mensajeRPA               126181 non-null  object
 62  comentarios              126181 non-null  object
 63  kueski_id                437 non-null     float64
 64  referencia_evo           90338 non-null   object
 65  redes_sociales           1243 non-null    object
 66  apps_streaming           874 non-null     object
 67  allow_esim               3398 non-null    object
 68  addons                   0 non-null       float64
 69  store_pickup             51 non-null      object
 70  store_address            51 non-null      object
dtypes: float64(6), int64(2), object(63)
memory usage: 69.5+ MB

In [20]:
df =pd.read_csv("C:\\Users\\kp6948\Documents\\thist\\sher poin\\unificado27enero_corrida.csv",encoding='latin-1')

C:\Users\kp6948\AppData\Local\Temp\ipykernel_2392\194783666.py:1: DtypeWarning: Columns (9,10,13,30,65,66) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv("C:\\Users\\kp6948\Documents\\thist\\sher poin\\Unificado2021.csv",encoding='latin-1')

In [21]:

# new_equipo = df['equipo'].str.split(pat=r" " ,expand=True  ,n=-1 ,regex=True ).fillna("")

# new_equipo['concat'] = new_equipo[0] + "-" + new_equipo[1] + "-" + new_equipo[2] + "-" +new_equipo[3] + "-" +new_equipo[4]  

# new_equipo['concat'].unique()
# df['equipo'] = new_equipo['concat']

In [22]:
new_0 = df['mensajeRPA'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True  ,n=-1 ,regex=True ).fillna("")
new_0[1]





df['ordenmensajeRPA'] = new_0[1]

In [23]:
new1 = df['crm'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True ,n=-1 ,regex=True ).fillna("")
new1
df["ordencrm"]= new1[0]

In [24]:
new2 = df['comentarios'].str.split(pat=r"[^\\]+(.........[0-9]A)" ,expand=True  ,n=-1 ,regex=True ).fillna("")
# new2
df["ordencomentarios"]= new2[1]

In [25]:
df.head()

,increment_id,fecha_de_pago,hora_de_pago,status,tipo,numero_renovar,f_rpa,f_renovacion,idc,crm,...,referencia_evo,redes_sociales,apps_streaming,allow_esim,addons,store_pickup,store_address,ordenmensajeRPA,ordencrm,ordencomentarios
0,ECO000155839,01/01/2021,02:30:23,Completada,RenovaciÃ³n,5.565767e+09,NaN,NaN,NaN,NaN,...,eeda3cf9a73449e1,NaN,NaN,NaN,NaN,NaN,NaN,2416172382A,,2416172382A
1,ECO000155842,01/01/2021,03:27:13,Completada,RenovaciÃ³n,5.565309e+09,NaN,NaN,NaN,NaN,...,124932bd64514c74,NaN,NaN,NaN,NaN,NaN,NaN,2416180083A,,2416180083A
2,ECO000155848,01/01/2021,09:35:20,Completada,RenovaciÃ³n,2.228292e+09,NaN,NaN,NaN,NaN,...,bc72e6d75dee45e3,NaN,NaN,NaN,NaN,NaN,NaN,2416290401A,,2416290401A
3,ECO000155866,01/01/2021,11:20:26,Completada,RenovaciÃ³n,5.536362e+09,NaN,NaN,NaN,NaN,...,1ea3e7af95e642a7,NaN,NaN,NaN,NaN,NaN,NaN,2416327892A,,2416327892A
4,ECO000155878,01/01/2021,11:56:15,Completada,RenovaciÃ³n,7.222451e+09,NaN,NaN,NaN,NaN,...,48ebd6d828af4735,NaN,NaN,NaN,NaN,NaN,NaN,2416339285A,,2416339285A

In [26]:
df_2 = df[['ordencomentarios','ordenmensajeRPA','ordencrm']]

df_2['Col4'] = df[['ordencomentarios','ordenmensajeRPA','ordencrm']].apply(lambda x: ''.join(x.dropna()), axis=1)

C:\Users\kp6948\AppData\Local\Temp\ipykernel_2392\461919756.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2['Col4'] = df[['ordencomentarios','ordenmensajeRPA','ordencrm']].apply(lambda x: ''.join(x.dropna()), axis=1)

In [27]:
df_2

      ordencomentarios ordenmensajeRPA ordencrm                    Col4
0          2416172382A     2416172382A           2416172382A2416172382A
1          2416180083A     2416180083A           2416180083A2416180083A
2          2416290401A     2416290401A           2416290401A2416290401A
3          2416327892A     2416327892A           2416327892A2416327892A
4          2416339285A     2416339285A           2416339285A2416339285A
...                ...             ...      ...                     ...
46196      2701991411A                                      2701991411A
46197      2701991641A                                      2701991641A
46198      2701990924A                                      2701990924A
46199      2703650411A                                      2703650411A
46200      2702901335A                                      2702901335A

[46201 rows x 4 columns]

In [28]:
df['ordenfinal'] = df_2['Col4'].str[-11:]
df['Origen'] = "Magento"
df['Fuente'] = "full_bd_unificado"
df['ComentarioDuplicadoECO'] = "No"
df['crm'] = df['ordencrm']

In [29]:
df.reset_index(drop=True)

,increment_id,fecha_de_pago,hora_de_pago,status,tipo,numero_renovar,f_rpa,f_renovacion,idc,crm,...,addons,store_pickup,store_address,ordenmensajeRPA,ordencrm,ordencomentarios,ordenfinal,Origen,Fuente,ComentarioDuplicadoECO
0,ECO000155839,01/01/2021,02:30:23,Completada,RenovaciÃ³n,5.565767e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,2416172382A,,2416172382A,2416172382A,Magento,full_bd_unificado,No
1,ECO000155842,01/01/2021,03:27:13,Completada,RenovaciÃ³n,5.565309e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,2416180083A,,2416180083A,2416180083A,Magento,full_bd_unificado,No
2,ECO000155848,01/01/2021,09:35:20,Completada,RenovaciÃ³n,2.228292e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,2416290401A,,2416290401A,2416290401A,Magento,full_bd_unificado,No
3,ECO000155866,01/01/2021,11:20:26,Completada,RenovaciÃ³n,5.536362e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,2416327892A,,2416327892A,2416327892A,Magento,full_bd_unificado,No
4,ECO000155878,01/01/2021,11:56:15,Completada,RenovaciÃ³n,7.222451e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,2416339285A,,2416339285A,2416339285A,Magento,full_bd_unificado,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46196,ECO000469519,31/12/2021,23:40:54,Completada,RenovaciÃ³n,3.324956e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,,,2701991411A,2701991411A,Magento,full_bd_unificado,No
46197,ECO000469513,31/12/2021,23:41:57,Completada,RenovaciÃ³n,3.319751e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,,,2701991641A,2701991641A,Magento,full_bd_unificado,No
46198,ECO000469522,31/12/2021,23:42:43,Completada,RenovaciÃ³n,5.555083e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,,,2701990924A,2701990924A,Magento,full_bd_unificado,No
46199,ECO000469516,31/12/2021,23:43:30,Completada,RenovaciÃ³n,5.563168e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,,,2703650411A,2703650411A,Magento,full_bd_unificado,No
46200,ECO000469528,31/12/2021,23:51:35,Completada,RenovaciÃ³n,5.536777e+09,NaN,NaN,NaN,,...,NaN,NaN,NaN,,,2702901335A,2702901335A,Magento,full_bd_unificado,No

In [30]:
a_index= ['increment_id',
 'fecha_de_pago',
 'status',
 'tipo',
 'guest',
 'region_factura',
 'oferta',
 'paquete',
 'mesesservicio',
 'sku',
 'precio_equipo',
 'precio_plan',
 'qty_ordered',
 'activacion',
 'total_pedido',
 'payment_method',
 'brand',
 'crm',
 'Origen',
 'Fuente',
 'ComentarioDuplicadoECO',
 'ordenmensajeRPA',
 'ordencrm',
 'ordencomentarios',
 'ordenfinal',
 'allow_esim']
df = df[a_index]

df.reindex(columns=[a_index])


df.to_csv(r'C:\\Users\\kp6948\Documents\\thist\\corridas\\unificado27enero_corrida_clean.csv')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46201 entries, 0 to 46200
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   increment_id            46201 non-null  object
 1   fecha_de_pago           46201 non-null  object
 2   status                  46201 non-null  object
 3   tipo                    46201 non-null  object
 4   guest                   46201 non-null  object
 5   region_factura          46201 non-null  object
 6   oferta                  46201 non-null  object
 7   paquete                 26669 non-null  object
 8   mesesservicio           26579 non-null  object
 9   sku                     19730 non-null  object
 10  precio_equipo           19532 non-null  object
 11  precio_plan             1093 non-null   float64
 12  qty_ordered             46201 non-null  int64
 13  activacion              1093 non-null   float64
 14  total_pedido            46201 non-null  object
 15  payment_method          46201 non-null  object
 16  brand                   38299 non-null  object
 17  crm                     46201 non-null  object
 18  Origen                  46201 non-null  object
 19  Fuente                  46201 non-null  object
 20  ComentarioDuplicadoECO  46201 non-null  object
 21  ordenmensajeRPA         46201 non-null  object
 22  ordencrm                46201 non-null  object
 23  ordencomentarios        46201 non-null  object
 24  ordenfinal              46201 non-null  object
 25  allow_esim              0 non-null      float64
dtypes: float64(3), int64(1), object(22)
memory usage: 9.2+ MB

In [32]:
df_subido_head = pd.read_csv('C:\\Users\\kp6948\\Downloads\\df_axyys prueba sincols2.csv')
list(df_subido_head.columns.values)

['increment_id',
 'fecha_de_pago',
 'status',
 'tipo',
 'guest',
 'region_factura',
 'oferta',
 'paquete',
 'mesesservicio',
 'sku',
 'precio_equipo',
 'precio_plan',
 'qty_ordered',
 'activacion',
 'total_pedido',
 'payment_method',
 'brand',
 'crm',
 'Origen',
 'Fuente',
 'ComentarioDuplicadoECO',
 'ordenmensajeRPA',
 'ordencrm',
 'ordencomentarios',
 'ordenfinal',
 'allow_esim']